.data-value-string, .data-value-string::before, .data-value-string::after {
    color: forestgreen;
}

.data-value-string::before, .data-value-string::after {
     content: '"';
}

.data-value-boolean {
    color: midnightblue;
}

.data-value-numeric {
    color: brown;
}

.data-value-null {
    color: darkmagenta;
}