ul.category-list {
    > li {
        list-style-type: none;

        > .data-label::after {
            content: ':';
            margin-right: 5px;
        }
    }
    > li.collapsable {
        list-style-type: disc;
    }
}

.category-list-label {
    font-family: Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: bold;
    color: midnightblue;

    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid lightsteelblue;
}